﻿@using OnlineStore.Domain.Models

@model List<Category>

@{
    ViewData["Title"] = "Онлайн магазин";
}

<h1>Добро пожаловать в онлайн магазин</h1>


<form>
    <h2>Категории товаров</h2>
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                        <form asp-controller="Product" asp-action="Index" method="get">
                            <input type="hidden" name="categoryId" value="@category.Id" />
                            <button type="submit" class="btn btn-primary">Посмотреть товары</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <h2>Популярные товары</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Товар 1</h5>
                    <p class="card-text">Описание товара 1</p>
                    <p class="card-text">Цена: $10</p>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="1" />
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Товар 2</h5>
                    <p class="card-text">Описание товара 2</p>
                    <p class="card-text">Цена: $20</p>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="2" />
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Товар 3</h5>
                    <p class="card-text">Описание товара 3</p>
                    <p class="card-text">Цена: $15</p>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Товар 4</h5>
                    <p class="card-text">Описание товара 4</p>
                    <p class="card-text">Цена: $25</p>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="4" />
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>